.head-image{
    max-height: 400px;
    object-fit: cover;
    object-position: 0% 60%;
}

.head-image-container{
    position: relative;
}

.head-image-caption{
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.head-image-caption > h1{
    font-size: 3rem;
}

.main-color{
    color: #EF8354;
}

.dark-main-color{
    color: #24292E;
}

.dark-main-bg{
    background-color: #BFC0C0;
}

.home-links{
    font-size: 1.5rem;
}

.normal-title{
    font-size: 1.6rem;
}

.parkour-img{
    max-height: 350px;
    object-fit: cover;
    object-position: 0% 80%;
}

.accordion-button{
    font-size: 1.5rem;
}

#home_title{
    font-size: 3rem;
}

#global_schema{
    max-width: 600px;
}

#home_carousel{
    max-width: 600px;
}